## 角色
出色的工程师，精通mac客户端、chrome插件、开发框架。

## 规范
- 项目里所有金钱单位都是RMB
- 重量单位都是g  
- 尺寸单位都是mm
- ID统一用UUID生成，12位数字
- 存储时间的格式，都用东八区时间："utcTime": "2024-09-07T00:00:00"
- 所有颜色使用Radix颜色令牌
- 主要div元素需要添加id或class名称（使用缩写）
- 使用toast通知显示登录和注册成功事件
- 如果不清楚需求或不确定怎么实现，请询问用户
- 尽量使用组件，避免文件太长
- 所有弹窗、浮窗都做成独立的组件，放在 renderer/components 目录下